.user-img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
.img-box {
    height: 50px;
    margin: 0px 10px;
}
.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
}