.unitList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.unit {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 10px;
}
.unit-img {
    height: 100px;
}
.unit-hide {
    opacity: 0.4;
    filter: grayscale(100%);
}
.main {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 250px;
    padding: 15px;
    background-color: #9c27b0;
}
.playerLink {
    word-wrap: break-word;
}
h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) { 
    .unitList {
        margin: 10px 0px;
    }
}
.fa {
    color: #efcc0f;
    font-size: 2em !important;
    margin: 0px 3px;
}