.unitList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
}
.list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}
.unit {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 10px;
}
.unit-img {
    height: 100px;
}
.unit-hide {
    opacity: 0.4;
    filter: grayscale(100%);
}
.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sidebar {
    width: 250px;
    padding: 15px;
    background-color: #9c27b0;
    height: auto;
}
.playerLink {
    word-wrap: break-word;
}
h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) { 
    .unitList {
        margin: 10px 0px;
    }
}
.fa-reddit {
    color: orangered;
    font-size: 2em !important;
    margin: 0px 3px;
}
.MuiTabs-flexContainer-90, .MuiTabs-flexContainer-91 {
    justify-content: center;
}
div.unit div a {
    text-decoration: none;
}
div.list header {
    display: flex;
    flex-direction: row;
}
div.list header button {
    flex-grow: 1;
}
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}
.MuiFormControl-marginNormal-92 {
    margin-bottom: 0px !important;
}
.listagem {
    width: 100%;
    height: 100%;
}
.linktext {
    word-wrap: break-word;
}